.multi-select-wrapper {
    position: relative;
    /* background: #f5f5f5; */
}

.popups-possibility {
    position: absolute;
    top: 100%;
    left: 5%;
    width: 90%;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 10;
    font-size: 0.9em;
}

.options-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    background: white;
    border: 1px solid #ccc;
    z-index: 10;
    max-height: 200px;
    overflow-y: auto;
}

.selection-text {
    background: #f0f0f0;
    border-radius: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.35em 0.5em;
    justify-content: space-between;
    cursor: pointer;
    width: 20em;
    margin: 0 auto;
}

.no-items-selected {
    /* background: red; */
    text-wrap: nowrap;
    width: 100%;
}

.display-selected {
    /* background: red; */
    overflow-x: auto;
    width: 22em;
    height: 2.8em;
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap; */
    flex-direction: row;
    /* gap: 1em; */
}

.display-selected .span-select {
    /* flex: 1; */
    background: #ccc;
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    width: max-content;
    justify-content: space-between;
    text-wrap: nowrap;
    padding: 0.5em !important;
}

.display-selected .span-select sub {
    /* background: green; */
    border-radius: 1em;
    font-size: 1.2em;
}

#arrow-icon.arrow-down::before {
    content: "▼";
}

#arrow-icon.arrow-up::before {
    content: "▲";
}

/* .selected-item {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    background: #f0f0f0;
    border-radius: 5px;
    position: relative;
} */

.selected-item-span {
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    gap: 0.5em;
    margin: 5px;
    padding: 5px 10px;
    width: max-content;
    background: #ccc;
    border-radius: 5px;
    position: relative;
    text-wrap: nowrap;
    /* text-overflow: ellipsis; */
    /* overflow-x: hidden; */
}

.selected-item .remove-btn {
    margin-left: 10px;
    cursor: pointer;
    color: red;
    border: none;
    background: none;
    font-size: 14px;
}


.popup-item3 {
    display: flex;
    align-items: center;
    gap: 1em;
    align-items: center;
    /* justify-content: space-between; */
    padding: 1em 1em;
}

.popup-item3 img {
    /* margin-right: 10px; */
    width: 2em;
    height: 2em;
}

.popup-item3:hover {
    background: var(--primary);
    color: #fff;
    cursor: pointer;
}